.about {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows:  minmax(min-content, max-content);

  &__cell {
    border: 1px solid $secondaryColor;

    &_description {
      grid-column-start: 1;
      grid-column-end: 3; 
      border-left: none;
      @media (max-width: 1258px) {
        grid-column-start: 1;
        grid-column-end: 5; 
        border-right: none;
      }
    }
    &_gallery {
      grid-column-start: 1;
      grid-column-end: 3;
      border-left: none;
      @media (max-width: 1000px) {
        grid-column-start: 1;
        grid-column-end: 5; 
        border-right: none;
      }
    }
    &_empty {
      grid-column-start: 3;
      grid-column-end: 5;
      border-left: none;
      border-right: none;
      @media (max-width: 1000px) {
        display: none;
      }
    }
    &_press {
      grid-column-start: 3;
      grid-column-end: 5;
      border-left: none;
      border-right: none;
      @media (max-width: 1000px) {
        grid-column-start: 1;
        grid-column-end: 5; 
      }
    }
    &_press-title {
      border-left: none;
      grid-column-start: 1;
      grid-column-end: 3;
      @media (max-width: 1000px) {
        display: none;
      }
    }
    &_plus {
      border-left: none;
      @media (max-width: 1258px) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      @media (max-width: 640px) {
        grid-column-start: 1;
        grid-column-end: 5;
        border-right: none;
      }
    }
    &_minus {
      border-left: none;
      border-right: none;
      @media (max-width: 1258px) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
      @media (max-width: 640px) {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }      

  &__text {
    @include wh(1100px, 420px );
    @include font(30px, 42px, normal, 300);
    margin: 40px 50px;
    justify-items: center;
    align-items: center;
    @media (max-width: 640px) {
      @include font(16px, 27px, normal, 300);
      margin: 20px 20px;
    }
  }
  &__text-weight {
    font-weight: 400;
  }
  &__title-list {
    @include font(30px, 37px);
    letter-spacing: 2px;
    margin: 40px 0 50px 50px;
    @media (max-width: 640px) {
      @include font(22px, 22px);
      margin: 20px 0 40px 20px;
    }
  }

  &__title-cell {
    @include font(46px, 46px);
    margin: 50px 0 50px 50px;
    @media (max-width: 1000px) {
      margin-left: 20px;
    }
    @media (max-width: 640px) {
      @include font(26px, 26px);
      margin: 50px 0 20px 0;
    }
  }

  &__list {
    margin: 0 0 278px 50px;
    @include reset-list;
    @media (max-width: 640px) {
      margin: 0 0 20px 20px;
    }
  }

  &__list-text {
    @include font(21px, 32px, $style: normal, $weight: 300);
    &_plus:before {
      content: "+";
      margin-right: 4px;
    }
    &_minus:before {
      content: "-";
      margin-right: 4px;
    }
  }
}