.form-container {
  @include flex;
  flex-wrap: wrap;
  width: 340px;
  margin-top: 64px;
  @media (max-width: 640px) {
    margin-top: 60px;
  }

  &__name {
    margin: 0;
    padding: 0 0 0 10px;
    width: 170px;
    height: 32px;
    border: 1px solid $secondaryColor;
    background-color: transparent;
    cursor: pointer;
    @include font(9px, 18px);
    color: $secondaryColor;
    text-transform: uppercase;
    box-sizing: border-box;
    @media (max-width: 640px) {
      width: 140px;
    }
  }

  &__family {
    margin: 0;
    padding: 0 0 0 10px;
    width: 170px;
    height: 32px;
    border: 1px solid $secondaryColor;
    background-color: transparent; 
    cursor: pointer;
    @include font(9px, 18px);
    color: $secondaryColor;
    text-transform: uppercase;
    box-sizing: border-box;
    @media (max-width: 640px) {
      width: 140px;
    }
  }

  &__email {
    margin: 0;
    padding: 0 0 0 10px;
    width: 260px;
    height: 32px;
    border: 1px solid $secondaryColor;
    background-color: transparent; 
    cursor: pointer;
    @include font(9px, 18px);
    color: $secondaryColor;
    text-transform: uppercase;
    box-sizing: border-box;
    @media (max-width: 640px) {
      width: 200px;
    }
  }

  &__button {
    width: 80px;
    height: 32px;
    border: 1px solid $secondaryColor;
    @include font(10px, 13px);
    background-color: $secondaryColor; 
    color: $primaryColor;
    cursor: pointer;
    text-transform: uppercase;
  }
}