.gallery {
  @include flex(center, space-between);
  flex-wrap: wrap;
  @media (max-width: 1000px) {
    padding: 4.43% 4.43% 0 4.43%;
  }
  &__image {
    @include wh(100%, 540px);
    margin: auto;
  }

  &__slider-next {
    margin: 56px 50px 56px 30px;
    @include slider(url("../images/next.svg"));   
  }

  &__slider-prev {
    @include slider(url("../images/prev.svg"));   
  }
}