.review {
  @include flex(center, space-between);
  flex-wrap: wrap;
  
  &__slider {
    margin: 260px 0 50px 50px;
    @media (max-width: 620px) {
      margin: 180px 0 20px 20px;
    }
  }

  &__dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 0 0 0 14px;
    background-color: transparent;
    border: 1px solid $secondaryColor;
    border-radius: 50%;

    &_active, &:hover{
      background-color: $secondaryColor; 
    }
  }

  &__button {
    cursor: pointer;
    margin: 260px 50px 50px 0;
    background-color: transparent;
    border: 1px solid $secondaryColor;
    padding: 12px 26px;
    @include font(19px, 28px);
    color: $secondaryColor;
    border-radius: 50%;
    text-decoration: none;
    &:hover{
      background-color: $secondaryColor;
      color: $primaryColor; 
    }
    @media (max-width: 640px) {
      margin: 180px 20px 20px;
    }
  }
}