.rightholder {
  margin: 50px 50px 0;
  @include flex(flex-end, space-between);
  flex-direction: column;
  @media (max-width: 640px) {
    margin: 120px 6.25% 20px;
    align-items: flex-start;
  }
  &__copyright {
    margin: 165px 0 0;
    @include font(13px, 13px);
    letter-spacing: 1px;
    @media (max-width: 640px) {
      margin: 20px 12px 0;
    }
  }
}